@font-face {
  font-family: 'Minecraft';
  src: url('/font/mc-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/font/mc-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/font/mc-italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Minecraft';
  src: url('/font/mc-bold-italic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
