* {
  margin: 0;
  padding: 0;
  border: solid 0;
  outline: solid 0;
  font-family: 'Montserrat', sans-serif;
  color: hsl(215, 30%, 98%);
}

html, body {
  background-color: hsl(215 30% 8%);
}

button {
  cursor: pointer;
}


/************************* SCROLLBAR *************************/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 130, 0.5);
  border-radius: 4px;
}
::-webkit-scrollbar-button {
  display: none;
}

/********************** TEXT SELECTION ***********************/

::selection {
  background-color: rgba(128, 128, 130, 0.5);
}
::-moz-selection {
  background-color: rgba(128, 128, 130, 0.5);
}
