:root {
  --white: #FCFCFF;
  --white-20: #FCFCFF33;
  --white-10: #f008;
  --black: #030305;
  --black-20: #03030533;
  --black-10: #0303051A;
}

/************************** RESETS ***************************/

* {
  margin: 0;
  padding: 0;
  border: solid 0;
  outline: solid 0;
  font-family: 'Montserrat', sans-serif;
}

html, body, main, section, div,
button, input, textarea, select,
a, p, h1, h2, h3, h4, h5, h6 {
  color: var(--white);
}

html, body {
  background-color: #0E131B;
}

button {
  cursor: pointer;
}

/************************* SCROLLBAR *************************/

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #80808280;
  backdrop-filter: blur(5px);
}
::-webkit-scrollbar-button {
  display: none;
}

/********************** TEXT SELECTION ***********************/

::selection {
  background-color: #80808280;
}
::-moz-selection {
  background-color: #80808280;
}
